anndata==0.7.5
biopython
dask
imageio==2.9.0
ipython
jupyterlab
matplotlib==3.3.3
metapredict==2.2
networkx==2.5
numba==0.52.0
numpy==1.19.4
openpyxl==3.0.9
pandas==1.0.0
plotly
requests
scanpy==1.8.1
scikit-image==0.17.2
scikit-learn==0.23.2
scikit-network==0.22.0
scipy==1.5.3
seaborn==0.11.0
tifffile==2020.12.8
